<section class="welcome">
    
    <div class="apues">
        <h1 id="title">Héctor García</h1>
        <h3 class="text">Soy un Desarrollador Junior full stack aprendiendo tecnologías .NET y javascript</h3>
    </div>
    <img src="~/imagenes/perfilPROG.jpg" id="foto" alt="Foto perfil" />
    <div class="loguito">
        <img src="~/imagenes/dotnet.svg" id="logoDotnet" alt="dotnet logo" />
    </div>

</section>

<section class="presentation">
    <h1 id="title"> Bienvenido a mi Portafolio</h1>
    <p>
        Soy una persona amable, bondadosa y artista.
        Soy un fotógrafo entusiasta y apasionado, interesado en todo tipo de fotografía.
        Hola mi nombre es David J y soy músico y diseñador gráfico. También soy bueno en la música,
        así que soy un buen candidato para la publicidad. He estado actuando durante 6 años como músico
        y tengo mucha experiencia en este campo. Soy muy trabajador y siempre me gusta tomar un nuevo desafío.
    </p>

</section>
