<section class="skills">
    <div class="column-frontend">
        <h2>Front-End</h2>
        <p>
            Puedo crear front-ends robustos los cuales cumplen con los requerimientos del negocio.
        </p>

        <h3>
            Stack:
        </h3>

        <p>
            React, Angular, Blazor
        </p>

        <h3>
            Experiencia:
        </h3>

        <ul>
            <li>React Hooks</li>
            <li>Angular Material</li>
            <li>Blazor WASM</li>
            <li>jQuery</li>
            <li>Pruebas automáticas</li>
            <li>Leaflet</li>
            <li>Markdown</li>
        </ul>
    </div>
    <div class="column-backend">

        <h2>Back-end</h2>

        <p>
            Trabajo desde el desarrollo, pruebas automáticas y puesta en producción con entrega continua.
        </p>

        <h3>
            Stack:
        </h3>

        <p>
            ASP.NET Core, SQL Server
        </p>

        <h3>
            Experiencia:
        </h3>

        <ul>
            <li>Web APIs</li>
            <li>ASP.NET Core MVC</li>
            <li>Entity Framework Core</li>
            <li>Blazor</li>
            <li>Dapper</li>
            <li>Queries espaciales</li>
            <li>Principios SOLID</li>
        </ul>

    </div>

</section>