@{
    ViewData["Title"] = "About";
}
<Section>
    <h1 class="title"> Hector Garcia </h1>
    <img src="~/imagenes/liquido-de-color-abstracto-4718.webp" id="fondito" alt="fondito"/>
</Section>

<section>
    <h2 class="sub-title">Un poco sobre mi...</h2>
    <p class="info-me">
        empty empty empty empty empty empty empty empty empty empty empty empty empty empty
        empty empty empty empty empty empty empty empty empty empty empty empty empty empty
        empty empty empty empty empty empty empty empty empty empty empty empty empty empty
        empty empty empty empty empty empty empty empty empty empty empty empty empty empty
        empty empty empty empty empty empty empty empty empty empty empty empty empty empty
        empty empty empty empty empty empty empty empty empty empty empty empty empty empty
        empty empty empty empty empty empty empty empty empty empty empty empty empty empty
        empty empty empty empty empty empty empty empty empty empty empty empty empty empty
        empty empty empty empty empty empty empty empty empty empty empty empty empty empty
    </p>
</section>

<section>
    <h2 class="sub-title"> Estudios :( </h2>

    <p>Nada que ver... Siga su curso por favor </p>

</section>

<section>
    <h2 class="sub-title">Cursitos de Youtube</h2>
    <ul>
        <li>Auron play - Profesional en risas sarcasticas - 2018:2020</li>
        <li>Escuela de Nada - Nivel avanzado en no hacer nada - 2015:2018</li>
        <li>DevPep - bla bla bla bla bla bla bla bla bla - 2014:2015</li>
        <li>bla bla bla bla bla bla bla bla bla bla bla bla bla </li>
        <li>bla bla bla bla bla bla bla bla bla bla </li>
    </ul>
</section>
<section>
    <h2 class="sub-title">habilidades y virtudes</h2>
    <ul>
        <li><ion-icon name="bandage-outline"></ion-icon></li>
        <li><ion-icon name="barbell-outline"></ion-icon></li>
        <li><ion-icon name="beer-outline"></ion-icon></li>
        <li><ion-icon name="ear-outline"></ion-icon></li>
        <li><ion-icon name="shield-half-outline"></ion-icon></li>
        <li><ion-icon name="logo-angular"></ion-icon></li>
        <li><ion-icon name="logo-electron"></ion-icon></li>
    </ul>
</section>